<a [routerLink]="['/profiles' , escort.id]">
  <div class="place-info-box-header">
    <h2 class="place-info-box-text">{{escort.name}}</h2>
    <i class="fa fa-toggle-{{escort.status}}" aria-hidden="true"></i>
    <br>
  </div>
  <div class="place-info-box">
    <span class="place-info-box-icon"><img [src]="escort.imagePath" alt="" /></span>
    <div class="place-info-box-content">
      <p class="place-info-box-detail">{{escort.category}} </p>
      <span class="place-info-box-detail">{{escort.hourCost}} </span>
      <span class="place-info-box-detail"> {{escort.cityPlace}}</span>
      <span class="place-info-box-detail"> {{escort.celphone}} </span>
    </div>
  </div>
  <hr>

  <!-- <mat-card class="place-info-box">
    <mat-card-header>
      <div mat-card-avatar class="profile-header-image"></div>
      <mat-card-title>{{escort.name}}</mat-card-title>
      <mat-card-subtitle>{{escort.category}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="escort.imagePath" alt="">
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Acessar</button>
    </mat-card-actions>
  </mat-card> -->
</a>