<div class="escorts-info-box">
    <a [routerLink]="['/profiles' , escort.id]">
        <div class="escorts-info-box-content">
            <h2 class="escorts-info-box-text">{{escort.name}} , </h2>
            <p class="escorts-info-box-p">{{escort.age}} </p>
            <span class="escorts-info-box-span-price">R$ {{escort.hourCost}} /h</span>
            <br>
            <span class="escorts-info-box-span-city"> {{escort.cityPlace}}</span>
        </div>

        <div class="escorts-info-box-header">
            <i class="fa fa-toggle-{{escort.status}}" aria-hidden="true"></i>
            <br>
        </div>
        <span class="escorts-info-box-img"><img [src]="escort.profileImagePath" alt="" /></span>
        <hr>
    </a>
</div>