<!-- mover barra de busca para header-->
<!-- <section class="content-header">
  <h1>
    Encontre sua expereciência perfeita
  </h1>
  <section class="search">
    <div class="input-group">
      <input type="search" class="form-control rounded" placeholder="buscar" aria-label="buscar"
        aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-primary">buscar</button>
    </div>
  </section>

</section> -->

<section class="container-home">

    <h1>
        A sua expereciência perfeita está aqui.
    </h1>
    <br>
    <section class="containe-escorts">

        <section class="escorts-info-box" *ngFor="let escort of escorts">
            <mt-escort [escort]="escort"></mt-escort>
        </section>

    </section>

</section>