<section class="content-header">
  <h1>
    Todas as Acompanhantes
  </h1>

  <!-- barra de busca-->
  <div class="row">
    incluir barra de busca
    <!-- <div class="col-xs-12 search-bar" [@toggleSearch]="searchBarState">
      <form [formGroup]="searchForm">
        <div class="form-group">
            <input type="text" #iptSearch formControlName="searchControl"
                   class="form-control" placeholder="O que você está procurando?">
        </div>
      </form>
    </div> -->
  </div>

</section>

<section class="content">

  <div class="row">
          <div *ngFor="let escort of escorts" class="col-sm-6 col-xs-12">
            <mt-escort [escort]="escort"></mt-escort>
          </div>
  </div>

</section>