<section class="content-header">
  <h1>
    Encontre sua expereciência perfeita
  </h1>

  <!-- barra de busca-->
  <div class="row search">
    <div class="input-group">
      <input type="search" class="form-control rounded" placeholder="buscar" aria-label="buscar"
        aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-primary">buscar</button>
    </div>
  </div>

</section>

<section class="story">

</section>

<section class="container" >

  <div class="item" *ngFor="let escort of escorts">
    <mt-escort [escort]="escort"></mt-escort>
  </div>

</section>