<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
    <h1>No Agenda GP, as Acompanhantes são 100% reais. </h1>
    <p>Olá, sabemos que o seu tempo é valioso e vamos lhe contar algo, somos Líderes em resultados, conosco você sempre será destaque, está a apenas um passo de tomar uma excelente decisão.</p>
    <p>Para anunciar você responderá a uma breve entrevista (ligação ou video chamada), o ideal é solicitar uma hora antes. O serviço está disponível apenas para maiores de 18 anos e que atuem por decisão pessoal e plena.</p>
    
    <div class="filter">
      <section class="cidade">
        
      </section>
      <section class="genero">
        
      </section>
    </div>
    <a class="btn btn-danger btn-lg" [routerLink]="['/escorts']">+ 18 Ver Anuncios</a>
  </div>

</section>